<t name="Homepage" t-name="website.homepage1">
    <t t-call="website.layout">
      <t t-set="pageName" t-value="'homepage'"/>
          <div id="wrap" class="oe_structure oe_empty o_fake_not_editable">
  
            Bienvenido al Banco del Tiempo&amp;nbsp;
             
            
            <section class="s_text_image pt32 pb32 o_colored_level" data-snippet="s_text_image" data-name="Text - Image"><div class="container"><div class="row align-items-center"><div class="col-lg-6 pt16 pb16 o_colored_level"><h2 class="o_default_snippet_text">Un subtítulo de sección</h2><p class="o_default_snippet_text">Write one or two paragraphs describing your product or services. To be successful your content needs to be useful to your readers.</p><p class="o_default_snippet_text">Comience con el cliente – descubra lo que quiere y déselo.</p><p><a href="#" class="btn btn-primary mb-2 o_default_snippet_text">Descubre más</a></p></div><div class="col-lg-6 pt16 pb16 o_colored_level"><img src="/web/image/website.s_text_image_default_image" class="img img-fluid mx-auto" alt="" loading="lazy" data-original-id="583" data-original-src="/website/static/src/img/snippets_demo/s_text_image.jpg" data-mimetype="image/jpeg"/>
  

            </div>
  
        </div>
    </div>
        
            </section>
    </div>
    </t>
  </t>
  